body{
    box-sizing: border-box;
    color: #868686;
    transition: all 0.9s ease-out;
    background-color: black;
}
ol{
    display: flex;
}
li{
    list-style: none;
    padding: 10px 15px;
}
a {
    text-decoration: none;
}

.shapka{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 20px 10px 10px 0px rgba(999, 999,999, 0.89);
}
.navbar:hover{
    transition: all 0.9s ease-out;
    color: #afafaf;
}
.text{
    color: #ffffff;
    margin-top: 200px;
    margin-left: 100px;
}
.about_sit,
.discovered_sit{
    display: none;
}
.discovered_sit,
.about_sit{
    margin-top: 50px;
    margin-left: 100px;
}
.text_discodered,
.text_about{
    color: rgb(255, 255, 255);
}